---
### Netbox default entries
fabric_device_prefixes:
{% for interface in ethernet_interfaces %}
{%      if ethernet_interfaces[interface].ip_address is arista.avd.defined %}
  - prefix: "{{ ethernet_interfaces[interface].ip_address | ansible.netcommon.ipaddr('network') }}/{{ ethernet_interfaces[interface].ip_address | ansible.netcommon.ipaddr('prefix') }}"
    vrf: default
{%      endif %}
{% endfor %}
{% for interface in vlan_interfaces | arista.avd.default([]) %}
{%      if vlan_interfaces[interface].ip_address is arista.avd.defined %}
  - prefix: "{{ vlan_interfaces[interface].ip_address | ansible.netcommon.ipaddr('network') }}/{{ vlan_interfaces[interface].ip_address | ansible.netcommon.ipaddr('prefix') }}"
    vrf: {{ vlan_interfaces[interface].vrf | arista.avd.default("default") }}
{%      endif %}
{%      if vlan_interfaces[interface].ip_address_virtual is arista.avd.defined %}
  - prefix: "{{ vlan_interfaces[interface].ip_address_virtual | ansible.netcommon.ipaddr('network') }}/{{ vlan_interfaces[interface].ip_address_virtual | ansible.netcommon.ipaddr('prefix') }}"
    vrf: {{ vlan_interfaces[interface].vrf | arista.avd.default("default") }}
{%      endif %}
{% endfor %}

fabric_interfaces_hw:
{% for interface in ethernet_interfaces | arista.avd.default([]) %}
{%      if ethernet_interfaces[interface].ip_address is arista.avd.defined %}
  - name: "{{ interface }}"
    device: "{{ inventory_hostname }}"
    enabled: True
    form_factor: "virtual"
{%      endif %}
{% endfor %}
{% for interface in vlan_interfaces | arista.avd.default([]) %}
{%      if vlan_interfaces[interface].ip_address is arista.avd.defined %}
  - name: "{{ interface }}"
    device: "{{ inventory_hostname }}"
    enabled: True
    form_factor: "virtual"
{%      endif %}
{%      if vlan_interfaces[interface].ip_address_virtual is arista.avd.defined %}
  - name: "{{ interface }}"
    device: "{{ inventory_hostname }}"
    enabled: True
    form_factor: "virtual"
{%      endif %}
{% endfor %}
{% for interface in loopback_interfaces | arista.avd.default([]) %}
{%      if loopback_interfaces[interface].ip_address is arista.avd.defined %}
  - name: "{{ interface }}"
    device: "{{ inventory_hostname }}"
    enabled: True
    form_factor: "virtual"
{%      endif %}
{% endfor %}

fabric_interface_ips:
{% for interface in ethernet_interfaces | arista.avd.default([]) %}
{%      if ethernet_interfaces[interface].ip_address is arista.avd.defined %}
  - address: "{{ ethernet_interfaces[interface].ip_address }}"
    vrf: "{{ ethernet_interfaces[interface].vrf | arista.avd.default("default") }}"
    assigned_object:
      name: "{{ interface }}"
      device: "{{ inventory_hostname }}"
{%      endif %}
{% endfor %}

loopback_ips:
{% for interface in loopback_interfaces | arista.avd.default([]) %}
{%      if loopback_interfaces[interface].ip_address is arista.avd.defined and interface == "Loopback0" %}
  - address: "{{ loopback_interfaces[interface].ip_address }}"
    vrf: "{{ loopback_interfaces[interface].vrf | arista.avd.default("default") }}"
    role: "Loopback"
    assigned_object:
      name: "{{ interface }}"
      device: "{{ inventory_hostname }}"
{%      endif %}
{% endfor %}

vtep_ips:
{% for interface in loopback_interfaces | arista.avd.default([]) %}
{%      if loopback_interfaces[interface].ip_address is arista.avd.defined and interface == "Loopback1" %}
  - address: "{{ loopback_interfaces[interface].ip_address }}"
    vrf: "{{ loopback_interfaces[interface].vrf | arista.avd.default("default") }}"
    role: "Anycast"
    assigned_object:
      name: "{{ interface }}"
      device: "{{ inventory_hostname }}"
{%      endif %}
{% endfor %}

anycast_ips:
{% for interface in vlan_interfaces | arista.avd.default([]) %}
{%      if vlan_interfaces[interface].ip_address is arista.avd.defined %}
  - address: "{{ vlan_interfaces[interface].ip_address }}"
    vrf: "{{ vlan_interfaces[interface].vrf | arista.avd.default("default") }}"
    role: "Anycast"
    assigned_object:
      name: "{{ interface }}"
      device: "{{ inventory_hostname }}"
{%      endif %}
{%      if vlan_interfaces[interface].ip_address_virtual is arista.avd.defined %}
  - address: "{{ vlan_interfaces[interface].ip_address_virtual }}"
    role: "Anycast"
    vrf: "{{ vlan_interfaces[interface].vrf | arista.avd.default("default") }}"
    role: "Anycast"
    assigned_object:
      name: "{{ interface }}"
      device: "{{ inventory_hostname }}"
{%      endif %}
{% endfor %}
